<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/kids-style.css"/>
    </head>

    <body>
        <div id="invite">
        <h3>Dear Alienna, </h3>
        <p>
            We're very excited to invite you to <strong>Meoww's Birthday prty.</strong>
        </p>

        <p>
        <strong>Date:</strong>, 20th January, 2022<br/>
        <strong>Time:</strong> 6PM
        </p>

        <p>See you there<br/>
        <em>Esha</em>
        </p>
    </div>
    </body>
</html>